h1 { 
  text-align: center; 
}

.navegacion {
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between; /* Distribuye nombre a la izquierda y menú a la derecha */
  align-items: center; /* Centra verticalmente si hay distintas alturas */
  padding: 5px;
}

.nombre {
  text-align: center;
  border: 1px solid #ccc;
  width: 30%;
}

.menu {
  border: 1px solid #ccc;
  width: 70%;
  text-align: center; /* Alinea el contenido del menú a la derecha */
  list-style-type: none; /* Quita los puntos por defecto del menú */
  font-size: 25px;
}

.menu li {
  display: inline-block;
  margin-right: 10px;
 }

  
  /* Contenedor de columnas */
  .contenedor {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  /* Columnas */
  .columna {
    width: 35%;
    padding: 10px;
  }
  
  /* Ajustes específicos */
  .foto {
    text-align: right;
  }
  
  .texto {
    text-align: justify;
  }

  .burgos {
    border: 1px solid #ccc;
  }
  .linkia{
    border: 1px solid #ccc;
  }

  .sanluis{
    border: 1px solid #ccc;
  }


  @media (max-width: 600px) {
    .contenedor {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .columna {
      width: 90%;
      text-align: center;
    }
  
    .texto {
      text-align: justify;
    }
  
    .mostrarfoto img {
      width: 100%;
      max-width: 300px;
      height: auto;
    }
  
    .burgos {
      text-align: center;
      width: 90%;
    }
  }
  