/* Centrado del título */
h1 {
    text-align: center;
  }
  
  /* Contenedor de columnas */
  .contenedor {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
  }
  
  /* Columnas */
  .columna {
    width: 35%;
    padding: 10px;
  }
  
  /* Ajustes específicos */
  .foto {
    text-align: right;
  }
  
  .texto {
    text-align: justify;
  }

  .burgos {
    border: 1px solid #ccc;
  }
  